.header {
  background-color: $neutral_95;
  color: $neutral_5;
  height: 50px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    .title {
      font-size: 1.75rem;
      font-weight: $text-bold;
      color: white;
      text-decoration: none;
    }
    .subtitle {
      font-size: 1.5rem;
      margin-left: 1rem;
      color: $neutral_10;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        top: 2px;
        bottom: 2px;
        left: -0.5rem;
        width: 1px;
        background-color: $neutral_10;
      }
    }
  }

  &__auth {
    display: flex;
    justify-content: space-between;
    .btn {
      display: flex;
      font-size: $text-m;
      padding: 6px 16px;
      margin-left: 1rem;
      background-color: unset;
      color: white;
      font-weight: $text-medium;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &.sign-in {
      }

      &.join {
        color: darken($green, 30%);
        font-weight: $text-bold;
        border-radius: 18px;
        background-color: $green;
      }
    }
  }
}
